
@page "/tasklist"
@using WebList.Data

<h3>TaskList</h3>

<div class="container-fluid">

    <HeaderComponent PlaceHolder="Введите день" btn1Name="qqqq" btn2Name="sssss" btn3Name="dddd" btnStyleName="btn btn-dark" />



</div>


@code {

}
