@page "/"
@using BlazorTestt.Data;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div>
    <button type="button" class="btn btn-primary" @onclick="() => ModalTemplate.Open()">Click me! (Template)</button>-
    <button type="button" class="btn btn-primary" @onclick="() => Autoris.Open()">Login</button>
    <button type="button" class="btn btn-primary" @onclick="() => Regist.Open()">Register</button>
</div>

<ModalTemplate @ref="ModalTemplate"></ModalTemplate>


<Autoris @ref="Autoris"></Autoris>
<Regist @ref="Regist"></Regist>

@code
{
    public ModalTemplate ModalTemplate { get; set; }

    public Autoris Autoris { get; set; }

    public Regist Regist { get; set; }
}