@using BlazorTestt.Data;
@inject CarService CarService

<h1>Cars table</h1>

<p>
    This tables show prices for different cars
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Cars)
            {
                <tr>
                    <td>@car.Name</td>
                    <td>@car.Model</td>
                    <td>@car.Price</td>
                </tr>
            }
        </tbody>
    </table>
</p>

@code {
    Car[] Cars;
    protected override async Task OnInitializedAsync()
    {
        Cars = await CarService.GetCarsAsync();
    }
}
