@using ProjectBlazor.Data

<h3>Component</h3>


<div>
    @if (list == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in list)
                {
                    <tr>
                        <td>@forecast.Name</td>
                        <td>@forecast.Model</td>
                        <td>@forecast.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter]
    public List<Game> list { get; set; }
}
