<h3>Car Table</h3>

@using BlazorApp2.Data
@inject CarServise CarServise

@if (cars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Horse Power</th>
                <th>MaxSpeed</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>@car.Name</td>
                    <td>@car.HP</td>
                    <td>@car.MaxSpeed</td>
                    <td>@car.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Car[] cars;

    protected override async Task OnInitializedAsync()
    {
        cars = await CarServise.GetCarsAsync();
    }
}