@page "/"
@using ProjectBlazor.Data 
<h1>Hello, world!</h1>

Welcome to your new app.

<ListGame  listEnglish="@lisEngl"></ListGame>
<ListGame  listHome="@lisHome"></ListGame>

@code {
    public List<Game> lisEngl = Game.GetEnglishCarList();
    public List<Game> lisHome = Game.GetHomeCarList();
}
